.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #00ffffb9,  #530cfacc);
  font-family: "Segoe UI", sans-serif;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.auth-card button {
  background: #4b6cb7;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.switch a {
  color: #4b6cb7;
  text-decoration: none;
  font-weight: 600;
}

.msg {
  margin-top: 10px;
  color: #444;
  font-size: 14px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
